<div class="blog">
    
    <p>
        <h3>New Posts</h3>
        {{#each content as |content|}}
        <span class="content">{{content.userContent}}</span>
        <p> - {{content.user.name}} on {{format_date content.date_created}}</p>
        {{/each}}
  </p>

    <form class="form review-form">
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-input" id="blog-comment" name="comment"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="bttn btn-primary">Create</button>
    </div>
  </form>

</div>
<script src="js/blog.js"></script>